<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RoleFunctionalityMapper" >
  <resultMap id="BaseResultMap" type="com.dangdang.digital.model.RoleFunctionality" >
    <id column="role_functionality_id" property="roleFunctionalityId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="func_id" property="funcId" jdbcType="BIGINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Where" >
    <if test="roleFunctionalityId != null" > and role_functionality_id=#{roleFunctionalityId} </if>
    <if test="roleId != null" > and role_id=#{roleId} </if>
    <if test="funcId != null" > and func_id=#{funcId} </if>
    <if test="creator != null and creator !='' " > and creator=#{creator} </if>
    <if test="creationDate != null" > and creation_date=#{creationDate} </if>
  </sql>
  <sql id="Base_Column_List" >
    role_functionality_id, role_id, func_id, creator, creation_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from media_role_functionality
    where role_functionality_id = #{roleFunctionalityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByIds" parameterType="list" >
    delete from media_role_functionality
    where role_functionality_id in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
  		#{item}  
  	</foreach>
  </delete>
  <select id="selectByIds" resultMap="BaseResultMap">  
    select  
    <include refid="Base_Column_List" />  
    from media_role_functionality where role_functionality_id in  
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
     	#{item}  
    </foreach>  
  </select>  
  <delete id="deleteByMap" parameterType="map" >
  	delete from media_role_functionality where 1=1 <include refid="Base_Where" />
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from media_role_functionality
    where role_functionality_id = #{roleFunctionalityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dangdang.digital.model.RoleFunctionality" useGeneratedKeys="true" keyProperty="roleFunctionalityId" >
    insert into media_role_functionality (role_functionality_id, role_id, func_id, 
      creator, creation_date)
    values (#{roleFunctionalityId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{funcId,jdbcType=BIGINT}, 
      #{creator,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertList" parameterType="list" useGeneratedKeys="true" keyProperty="roleFunctionalityId">
  	insert into media_role_functionality(role_functionality_id, role_id, func_id, creator, creation_date) values 
  	<foreach collection="list" item="item" index="index" separator=","> 
  		(
  		 #{item.roleFunctionalityId},
         #{item.roleId},
         #{item.funcId},
         #{item.creator},
         #{item.creationDate}
         )
    </foreach>  
  </insert>
  <insert id="insertSelective" parameterType="com.dangdang.digital.model.RoleFunctionality" >
    insert into media_role_functionality
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleFunctionalityId != null" >
        role_functionality_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="funcId != null" >
        func_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleFunctionalityId != null" >
        #{roleFunctionalityId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="funcId != null" >
        #{funcId,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dangdang.digital.model.RoleFunctionality" >
    update media_role_functionality
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="funcId != null" >
        func_id = #{funcId,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_functionality_id = #{roleFunctionalityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dangdang.digital.model.RoleFunctionality" >
    update media_role_functionality
    set role_id = #{roleId,jdbcType=BIGINT},
      func_id = #{funcId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP}
    where role_functionality_id = #{roleFunctionalityId,jdbcType=BIGINT}
  </update>
  <select id="getAll" resultMap="BaseResultMap" parameterType="map" >
    select <include refid="Base_Column_List" /> from media_role_functionality where 1=1 <include refid="Base_Where" />
  </select>
  <select id="pageCount" resultType="java.lang.Integer" parameterType="map" >
    select count(1) from media_role_functionality where 1=1 <include refid="Base_Where" />
  </select>
  <select id="pageData" resultMap="BaseResultMap" parameterType="map" >
    select <include refid="Base_Column_List" /> from media_role_functionality where 1=1 <include refid="Base_Where" />
  </select>
</mapper>