<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SpecialTopicMapper">
	<resultMap id="BaseResultMap" type="SpecialTopic">
		<id column="st_id" property="stId" jdbcType="INTEGER" />
		<result column="st_type_id" property="stTypeId" jdbcType="BIGINT" />
		<result column="device_type" property="deviceType" jdbcType="VARCHAR" />
		<result column="channel_type" property="channelType" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pic_path" property="picPath" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="block_group_id" property="blockGroupId" jdbcType="INTEGER" />
		<result column="show_home_page" property="showHomePage" jdbcType="INTEGER" />
		<result column="relation_block_codes" property="relationBlockCodes" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
		<result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP" />
	    <result column="description" property="description" jdbcType="LONGVARCHAR"  />
	    <result column="column_code" property="columnCode" jdbcType="VARCHAR"  />
	    <!-- 关联Column对象  列重名问题-->
	 	<association property="column" javaType="com.dangdang.digital.model.Column">
	     <result column="media_column_column_code" property="columnCode" jdbcType="VARCHAR" />
   		 <result column="media_column_name" property="name" jdbcType="VARCHAR" />
    	</association>
    	
	</resultMap>
	
	<sql id="Base_Where">
		<if test="stId != null"> and st_id=#{stId} </if>
		<if test="showHomePage != null"> and show_home_page=#{showHomePage} </if>
		<if test="stTypeId != null"> and st_type_id=#{stTypeId} </if>
		<if test="deviceType != null"> and device_type=#{deviceType} </if>
		<if test="channelType != null"> and channel_type=#{channelType} </if>
		<if test="name != null"> and media_special_topic.name like concat('%',#{name},'%') </if>
		<if test="picPath != null"> and pic_path=#{picPath} </if>
		<if test="status != null"> and status=#{status} </if>
		<if test="blockGroupId != null"> and block_group_id=#{blockGroupId} </if>
		<if test="relationBlockCodes != null"> and relation_block_codes=#{relationBlockCodes} </if>
		<if test="sort != null"> and sort=#{sort} </if>
		<if test="creator != null"> and creator=#{creator} </if>
		<if test="modifier != null"> and modifier=#{modifier} </if>
		<if test="creationDate != null"> and creation_date=#{creationDate} </if>
		<if test="lastModifiedDate != null"> and last_modified_date=#{lastModifiedDate} </if>
		<if test="description != null and description !=''" > and description= #{description}</if>
	</sql>
	
	<sql id="Base_Column_List">
		st_id,st_type_id, device_type, channel_type, media_special_topic.name, pic_path, status, block_group_id,
		relation_block_codes,show_home_page,
		sort, media_special_topic.creator, modifier, creation_date, last_modified_date,description,
		media_column.column_code as media_column_column_code ,media_column.name  as media_column_name
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from media_special_topic left join media_column on media_special_topic.column_code = media_column.column_code
		where st_id = #{stId,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from media_special_topic
		where st_id = #{stId,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteByType" parameterType="java.lang.Long">
		delete from media_special_topic
		where st_type_id = #{st_type_id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="SpecialTopic">
		insert into media_special_topic (st_id,st_type_id, device_type, channel_type,
		name, pic_path, status,
		block_group_id, relation_block_codes, sort,
		creator, modifier, creation_date,
		last_modified_date,description,column_code,show_home_page)
		values (#{stId,jdbcType=INTEGER}, #{stTypeId,jdbcType=BIGINT}, #{deviceType,jdbcType=VARCHAR},
		#{channelType,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{picPath,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{blockGroupId,jdbcType=INTEGER},
		#{relationBlockCodes,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR},
		#{creationDate,jdbcType=TIMESTAMP},
		#{lastModifiedDate,jdbcType=TIMESTAMP},
		#{description,jdbcType=LONGVARCHAR},
	    #{columnCode,jdbcType=VARCHAR},
	    #{showHomePage,jdbcType=INTEGER}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="SpecialTopic">
		insert into media_special_topic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="stId != null">
				st_id,
			</if>
			<if test="stTypeId != null">
				st_type_id,
			</if>
			<if test="deviceType != null">
				device_type,
			</if>
			<if test="channelType != null">
				channel_type,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="picPath != null">
				pic_path,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastModifiedDate != null">
				last_modified_date,
			</if>
			 <if test="description != null and description !=''" >
				 description,
			 </if>
			 <if test="columnCode != null and columnCode !=''" >
				 column_code,
			 </if>
			 <if test="showHomePage != null" >
				 show_home_page,
			 </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="stId != null">
				#{stId,jdbcType=INTEGER},
			</if>
			<if test="stTypeId != null">
				#{stTypeId,jdbcType=INTEGER},
			</if>
			<if test="deviceType != null">
				#{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="channelType != null">
				#{channelType,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="picPath != null">
				#{picPath,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifiedDate != null">
				#{lastModifiedDate,jdbcType=TIMESTAMP},
			</if>
 			<if test="description != null and description !=''" >
      			 #{description,jdbcType=LONGVARCHAR},
     		 </if>
 			<if test="columnCode != null and columnCode !=''" >
      			 #{columnCode,jdbcType=VARCHAR},
     		 </if>
 			<if test="showHomePage != null " >
      			 #{showHomePage,jdbcType=INTEGER},
     		 </if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="SpecialTopic">
		update media_special_topic
		<set>
			<if test="deviceType != null">
				device_type = #{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="channelType != null">
				channel_type = #{channelType,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="picPath != null">
				pic_path = #{picPath,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="blockGroupId != 0">
				block_group_id = #{blockGroupId,jdbcType=INTEGER},
			</if>
			<if test="relationBlockCodes != null">
				relation_block_codes = #{relationBlockCodes,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				creation_date = #{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifiedDate != null">
				last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null and description !=''">
				description = #{description,jdbcType=LONGVARCHAR},
			</if>
			<if test="columnCode != null and columnCode !=''">
				column_code = #{columnCode,jdbcType=VARCHAR},
			</if>
			<if test="showHomePage != null">
				show_home_page = #{showHomePage,jdbcType=INTEGER}
			</if>
		</set>
		where st_id = #{stId,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="SpecialTopic">
		update media_special_topic
		set device_type = #{deviceType,jdbcType=VARCHAR},
		channel_type = #{channelType,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		pic_path = #{picPath,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		block_group_id = #{blockGroupId,jdbcType=INTEGER},
		relation_block_codes = #{relationBlockCodes,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=VARCHAR},
		creator = #{creator,jdbcType=VARCHAR},
		modifier = #{modifier,jdbcType=VARCHAR},
		creation_date = #{creationDate,jdbcType=TIMESTAMP},
		last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
		description= #{description,jdbcType=LONGVARCHAR},
		column_code= #{columnCode,jdbcType=VARCHAR},
		show_home_page = #{showHomePage,jdbcType=INTEGER}
		where st_id = #{stId,jdbcType=INTEGER}
	</update>
	
	<select id="getLastValidSpecialTopic" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from media_special_topic left join media_column on media_special_topic.column_code = media_column.column_code
		where status = 1 
		<if test="deviceType != null">
			and (device_type = #{deviceType} or  device_type='YC_common') 
		</if>
		<if test="deviceType == null">
			and device_type='YC_common'
		</if>
		and channel_type in (${channelTypes}) order by sort desc, last_modified_date desc limit 1
	</select>
	
	<select id="getHistoryValidSpecialTopicPageCount" resultType="java.lang.Integer" parameterType="map">
		select
		count(1)
		from media_special_topic left join media_column on media_special_topic.column_code = media_column.column_code
		where status = 1 
		<if test="deviceType != null">
			and (device_type = #{deviceType} or  device_type='YC_All') 
		</if>
		<if test="deviceType == null">
			and device_type='YC_All'
		</if>
				 
		and channel_type in (${channelTypes}) order by sort desc, last_modified_date desc 
	</select>
	
	<select id="getHistoryValidSpecialTopicPageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from media_special_topic  left join media_column on media_special_topic.column_code = media_column.column_code
		where status = 1 
		<if test="deviceType != null">
			and (device_type = #{deviceType} or  device_type='YC_All') 
		</if>
		<if test="deviceType == null">
			and device_type='YC_All'
		</if>
		and channel_type in (${channelTypes}) order by sort desc, last_modified_date desc  limit ${start}, ${limit}
	</select>
	
	<!-- 查询在首页上显示的专题 -->
	<select id="getHomePageSpecialTopicList" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from media_special_topic left join media_column on media_special_topic.column_code = media_column.column_code
		where status = 1 and show_home_page=1
		<if test="deviceType != null">
			and (device_type = #{deviceType} or  device_type='YC_All') 
		</if>
		<if test="deviceType == null">
			and device_type='YC_All'
		</if>
		and channel_type in ('${channelTypes}','ALL') 
		
		order by sort desc, last_modified_date desc
	</select>
	
	
	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from mmedia_special_topic left join media_column on media_special_topic.column_code = media_column.column_code where 1=1
		<include refid="Base_Where" />
	</select>
	
	<select id="pageCount" resultType="java.lang.Integer"
		parameterType="map">
		select count(1) from media_special_topic where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from media_special_topic left join media_column on media_special_topic.column_code = media_column.column_code
	    where st_id in 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>  
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from media_special_topic left join media_column on media_special_topic.column_code = media_column.column_code  where 1=1
		<include refid="Base_Where" />
	</select>
</mapper>