<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UsercmsRoleMapper" >
  <resultMap id="BaseResultMap" type="com.dangdang.digital.model.UsercmsRole" >
    <id column="usercms_role_id" property="usercmsRoleId" jdbcType="BIGINT" />
    <result column="usercms_id" property="usercmsId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Where" >
    <if test="usercmsRoleId != null" > and usercms_role_id=#{usercmsRoleId} </if>
    <if test="usercmsId != null" > and usercms_id=#{usercmsId} </if>
    <if test="roleId != null" > and role_id=#{roleId} </if>
    <if test="roleName != null and roleName !='' " > and role_name=#{roleName} </if>
    <if test="creator != null and creator !='' " > and creator=#{creator} </if>
    <if test="creationDate != null" > and creation_date=#{creationDate} </if>
  </sql>
  <sql id="Base_Column_List" >
    usercms_role_id, usercms_id, role_id, role_name, creator, creation_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from media_usercms_role
    where usercms_role_id = #{usercmsRoleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from media_usercms_role
    where usercms_role_id = #{usercmsRoleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dangdang.digital.model.UsercmsRole" >
    insert into media_usercms_role (usercms_role_id, usercms_id, role_id, 
      role_name, creator, creation_date
      )
    values (#{usercmsRoleId,jdbcType=BIGINT}, #{usercmsId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, 
      #{roleName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertList" parameterType="list" useGeneratedKeys="true" keyProperty="roleFunctionalityId">
  	insert into media_usercms_role(usercms_role_id, usercms_id, role_id, role_name, creator, creation_date) values 
  	<foreach collection="list" item="item" index="index" separator=","> 
  		(
  		 #{item.usercmsRoleId},
         #{item.usercmsId},
         #{item.roleId},
         #{item.roleName},
         #{item.creator},
         #{item.creationDate}
         )
    </foreach>  
  </insert>
  <insert id="insertSelective" parameterType="com.dangdang.digital.model.UsercmsRole" >
    insert into media_usercms_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usercmsRoleId != null" >
        usercms_role_id,
      </if>
      <if test="usercmsId != null" >
        usercms_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usercmsRoleId != null" >
        #{usercmsRoleId,jdbcType=BIGINT},
      </if>
      <if test="usercmsId != null" >
        #{usercmsId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dangdang.digital.model.UsercmsRole" >
    update media_usercms_role
    <set >
      <if test="usercmsId != null" >
        usercms_id = #{usercmsId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where usercms_role_id = #{usercmsRoleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dangdang.digital.model.UsercmsRole" >
    update media_usercms_role
    set usercms_id = #{usercmsId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT},
      role_name = #{roleName,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP}
    where usercms_role_id = #{usercmsRoleId,jdbcType=BIGINT}
  </update>
  <delete id="deleteByMap" parameterType="map" >
  	delete from media_usercms_role where 1=1 <include refid="Base_Where" />
  </delete>
  <delete id="deleteByIds" parameterType="list" >
    delete from media_usercms_role
    where usercms_role_id in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
  		#{item}  
  	</foreach>
  </delete>
  <select id="getAll" resultMap="BaseResultMap" parameterType="map" >
    select <include refid="Base_Column_List" /> from media_usercms_role where 1=1 <include refid="Base_Where" />
  </select>
  <select id="pageCount" resultType="java.lang.Integer" parameterType="map" >
    select count(1) from media_usercms_role where 1=1 <include refid="Base_Where" />
  </select>
  <select id="pageData" resultMap="BaseResultMap" parameterType="map" >
    select <include refid="Base_Column_List" /> from media_usercms_role where 1=1 <include refid="Base_Where" />
  </select>
</mapper>