<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	 http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd" 
	 default-lazy-init="false" default-autowire="byName">
	<description>Dubbo provider配置</description>
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="media-soa-provider" />
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />
    <!-- 设置不依赖 -->
 	<dubbo:consumer check="false" timeout="30000"/>
 	
 	<dubbo:provider timeout="30000"/>
 	
    <!-- 主附账户消费接口 -->
    <dubbo:reference id="accountConsumeApi" interface="com.dangdang.base.account.client.api.IAccountConsumeApi" protocol="dubbo"  version="2.0" retries="0"/>

	<!-- 账户信息接口 -->
    <dubbo:reference id="accountApi" interface="com.dangdang.base.account.client.api.IAccountApi" protocol="dubbo"  version="2.0" retries="0"/>
    
    <!-- 用户信息接口 -->
	<dubbo:reference id="commonApi" interface="com.dangdang.common.api.ICommonApi" protocol="dubbo" version="1.0" />
	
	<dubbo:reference id="attachAccountItemsApi" interface="com.dangdang.base.account.client.api.IAttachAccountItemsApi" protocol="dubbo"  version="1.0" />
</beans>