<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	default-lazy-init="true">
	<!-- 开启自动切面代理 -->
	<aop:aspectj-autoproxy />
	
	<!-- 开启注解 -->
	<context:annotation-config />
	
	<!-- 使用annotation 自动注册bean -->
	<context:component-scan base-package="com.dangdang.digital" annotation-config="true">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean class="com.dangdang.digital.system.SpringContextHolder" lazy-init="false" />

	<!-- 加载配置文件 -->
	<bean id="propertyMananger" class="com.dangdang.digital.system.DecryptPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>config.properties</value>
				<value>api-config.properties</value>
				<value>ddclick.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
	<!-- (父)数据源定义,使用Apache DBCP 连接池 -->
	<bean id="parentDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="200" />
		<property name="maxIdleTime" value="30" />
		<property name="acquireIncrement" value="5" />
		<property name="idleConnectionTestPeriod" value="60" />
		<property name="acquireRetryAttempts" value="30" />	
		<property name="breakAfterAcquireFailure" value="false" />
		<property name="numHelperThreads" value="5" />	
		<property name="acquireRetryDelay" value="500" />	
		<property name="autoCommitOnClose" value="true" />
		<property name="propertyCycle" value="300" />	
		<property name="checkoutTimeout" value="5000" />	
	</bean>
	
	<!-- 配置主库数据源 -->
	<bean id="master_dataSource" parent="parentDataSource">
		<property name="jdbcUrl">
			<value>${master.jdbc.url}</value>
		</property>
		<property name="user">
			<value>${master.jdbc.username}</value>
		</property>
		<property name="password">
			<value>${master.jdbc.password}</value>
		</property>
	</bean>

	<!-- 配置从库数据源 -->
	<bean id="slave_dataSource" parent="parentDataSource">
		<property name="jdbcUrl">
			<value>${slave.jdbc.url}</value>
		</property>
		<property name="user">
			<value>${slave.jdbc.username}</value>
		</property>
		<property name="password">
			<value>${slave.jdbc.password}</value>
		</property>
	</bean>
	
	<!-- 配置搜索推荐主库数据源 -->
	<bean id="search_master_dataSource" parent="parentDataSource">
		<property name="jdbcUrl">
			<value>${search.master.jdbc.url}</value>
		</property>
		<property name="user">
			<value>${search.master.jdbc.username}</value>
		</property>
		<property name="password">
			<value>${search.master.jdbc.password}</value>
		</property>
	</bean>
	
	<!-- 配置搜索推荐从库数据源 -->
	<bean id="search_slave_dataSource" parent="parentDataSource">
		<property name="jdbcUrl">
			<value>${search.slave.jdbc.url}</value>
		</property>
		<property name="user">
			<value>${search.slave.jdbc.username}</value>
		</property>
		<property name="password">
			<value>${search.slave.jdbc.password}</value>
		</property>
	</bean>

 	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="master_dataSource" />
	</bean>  

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 配置事物数据库 -->
	<bean id="master_sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="master_dataSource" />
		<property name="configLocation" value="classpath:sql-map-config.xml" />
		<property name="mapperLocations" value="classpath*:sqlmap/*.xml" />
	</bean>

	<bean id="master_sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="master_sqlSessionFactory" />
	</bean>

	<!-- 配置查询数据库 -->
	<bean id="slave_sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="slave_dataSource" />
		<property name="configLocation" value="classpath:sql-map-config.xml" />
		<property name="mapperLocations" value="classpath*:sqlmap/*.xml" />
	</bean>

	<bean id="slave_sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="slave_sqlSessionFactory" />
	</bean>
	
	<!-- 搜索推荐主数据库 -->
	<bean id="search_master_sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="search_master_dataSource" />
		<property name="configLocation" value="classpath:sql-map-config.xml" />
		<property name="mapperLocations" value="classpath*:sqlmap/*.xml" />
	</bean>
	
	<bean id="search_master_sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="search_master_sqlSessionFactory" />
	</bean>
	
	<!-- 搜索推荐从数据库 -->
	<bean id="search_slave_sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="search_slave_dataSource" />
		<property name="configLocation" value="classpath:sql-map-config.xml" />
		<property name="mapperLocations" value="classpath*:sqlmap/*.xml" />
	</bean>
	
	<bean id="search_slave_sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="search_slave_sqlSessionFactory" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="masterDataSource"/>
    </bean>
	
	<!-- 文件上传配置 -->
	<bean id="filterMultipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="log4jInitialization" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>classpath:log4j.xml</value>
			</list>
		</property>
	</bean>  
	
	<import resource="classpath*:/config/spring_api.xml" />
	<!-- redis配置 -->
	<import resource="classpath*:/config/redis_config.xml" />
	<!-- dubbo接口 -->
	<import resource="classpath*:/config/spring_other_dubbo.xml" />
	<!-- 多线程 -->
	<import resource="classpath*:/config/spring_task.xml" />
	
	<import resource="classpath*:/config/spring-mongodb.xml" />
	<!-- rabbitmq -->
	<import resource="classpath*:/config/spring_rabbitmq.xml" />
</beans>